body {
    background-image: url("../images/abstrac-white.jpg");
    background-size: cover;

}

/*Navbar*/
.header {
    background-image: url("../images/navbar.jpg");
    border-bottom: 1.5px solid white;
    background-size: cover;
    opacity: .8;
    width: 100%;
    height: 80px;
   
}
h1 {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-family: cursive;
}


/* Directions */
p {
    line-height: 30px;
    font-size: 25px;
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.container {
    margin-top: 60px; 
}


#directions {
    padding: 20px; 
   
    margin: 0 auto;
    height: auto;
    width: 960px;
    background-image: url("../images/navbar.jpg");
    background-size: cover;
    opacity: .8;
    border: 1px solid white;
    border-radius: 10px;

}

#crystalBody {
    margin: 0 auto;
    margin-top: 30px;
    height: auto;
    width: 510px;
    background-image: url("../images/navbar.jpg");
    background-size: cover;
    opacity: .8;
    border: 1px solid white;
    border-radius: 10px;
}


.crystalBtn {
    height: 80px;
    width: 80px;
    margin: 20px;
    
};